$white-space-lg: 4.85vw;
$white-space: 3.2vw;
$white-space-sm: 1.618vw;
$white-space-xs: 1vw;

$half-white-space-lg: $white-space-lg / 2;
$half-white-space: $white-space / 2;
$white-space-sm-half: $white-space-sm / 2;
$white-space-xs-half: $white-space-xs / 2;

$gallery-spacing: 5px;

$logo-height: 3rem;

//== Media queries breakpoints
$screen-xs: 	410px;
$screen-sm: 	780px;
$screen-md: 	992px;
$screen-lg: 	1280px;
$screen-xl: 	1900px;
$screen-xxl:	2500px;

$input-padding-vertical: .5rem;
$input-padding-horizontal: .75rem;

$content-width: 40rem;
