//** Link hover decoration.
$link-hover-decoration: underline !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-base:			-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-weight:				400 !default;
$font-size-base:			18px;
$font-scale:				.35vw;

$headings-font-family:		-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$heading-font-size-base:	1.2em;
$headings-font-weight:		900 !default;
$headings-line-height:		1.3 !default;
$headings-color:			$gray-darker;

//** Buttons.
$btn-font-weight: 600;
$btn-border-width: 1px;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:			1.5 !default;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:		monospace !default;

$border-radius-base:		0;
