body#tinymce.wp-editor {
	max-width: 55em;
	border-right: 1px dotted #eee;
	@import 'client/variables';
	@import '../master_sass/include/type';
	@import '../master_sass/include/buttons';
	@import 'client/client';
}
